<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Learning Zone</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/landing.css">
</head>
<body>

  <div class="header">
    <div class="navbararea">
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid">
              <a href="/home">
                <img src="/static/mainLogo.png" style="cursor: pointer;" width="100px" alt="">
              </a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link text-light" aria-current="page" href="/">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link text-light" href="#">About</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link text-light" href="#">Contact</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link text-light" href="#">Gallery</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link text-light" href="#">Profile</a>
                  </li>
                  
                 
                </ul>
                <div class="d-flex" role="search">
                 
                  <a href="/logout" class="btn btn-outline-light" >Log Out</a>
                </div>
              </div>
            </div>
          </nav>
</div>
</div>

<div class="container my-3">
  <div class="row">
    <div class="col-md-3">
      <div class="card bg-success">
        <div class="card-body">
          <h2>Total Earning</h2>
          <h4>50000 Taka</h4>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card bg-info">
        <div class="card-body">
          <h2>Total Deposite</h2>
          <h4>100000 Taka</h4>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card bg-warning">
        <div class="card-body">
          <h2>Total Earning</h2>
          <h4>50000 Taka</h4>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card bg-info">
        <div class="card-body">
          <h2>Total Earning</h2>
          <h4>50000 Taka</h4>
        </div>
      </div>
    </div>
    
  </div>
  <h4>{{session.email}}</h4>
  <h4>{{session.password}}</h4>

  
 
  <table class="table table-dark">
    <thead>
      <tr>
        
        <th scope="col">#</th>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">Handle</th>
      </tr>
    </thead>
    <tbody>
      
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Larry</td>
        <td>the Bird</td>
        <td>@twitter</td>
      </tr>
    </tbody>
  </table>
</div>
    
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</body>
</html>
